<nav class="sidebar">
    <div style="margin-top:55px;">
        <a href="/" class="nav-link">
            My Journal
        </a>
        <a href="/insights" class="nav-link">
            Insights
        </a>
    </div>
  
 
</nav>
