@inject AuroraJournalingApp.Utils.DarkModeState DarkModeState
@inject NavigationManager navigation

<div class="topbar">
    <div class="topbar-left">
        <span class="topbar-logo">📚</span>
        <span class="topbar-title">Aurora</span>
    </div>

    <div class="topbar-right">
        <button class="topbar-btn" @onclick="DarkModeState.ToggleDarkMode">
            🌙 Switch theme
        </button>
        <button @onclick="onsubmit" class="topbar-btn signout" >Log Out</button>
    </div>
</div>

<style>
    
</style>
@code{
    public async Task onsubmit()
    {
        bool success = SecureStorage.Default.Remove("user");
        navigation.NavigateTo("/login");
        }
}