<h3>Signin</h3>

<MudLayout Style="display:flex;justify-content:center;align-items:baseline">
    <MudCard Style="width:500px; height:500px; margin:auto; display:flex ; flex-direction:column; justify-content:center; align-items:center" Outlined="true">
        <EditForm>
            <MudText Typo="Typo.h1">
                Aurora
            </MudText>
            <div>
                <MudTextField Style="width:400px" @bind-Value="Username" Label="username" Variant="Variant.Text" />
                <MudTextField Style="width:400px" @bind-Value="Password" Label="password" InputType="InputType.Password" Variant="Variant.Text" />

            </div>

            <button type="submit" @onclick="onSubmit"></button>
        </EditForm>
    </MudCard>
</MudLayout>

@code {
    private string Username;
    private string Password;
    private int pin;

    public void onSubmit()
        {

        }

}
