
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: var(--background-color);
    padding: 20px;
}


.signup-card {
    background-color: var(--surface-color);
    color:var(--text-color);
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    text-align: center;
}


.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-field {
    width: 100%;
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
}


.signup-btn {
    width: 100%;
    padding: 12px 0;
    background-color: #4a90e2;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

    .signup-btn:hover {
        background-color: #357ab8;
    }


h2 {
    margin-bottom: 25px;
    color: --var(--text-color);
    font-family: 'Segoe UI', sans-serif;
}
